/* 通过覆盖 articleBanner 的 filter 和 opacity 设置，禁用了高斯模糊和叠加层 */

.tk-article-banner__cover {
    filter: none;
    opacity: 1;
}
.tk-article-banner__cover img {
    opacity: 1;
}

/* 调整导航栏菜单组中，分组标题的字体颜色 */

.VPMenuGroup .title {
    color: var(--vp-c-text-3);
}

/* 带 Banner 的文章页增加了背景图作者组件。当该组件显示时，调整原末行的底部空白高度 */

.tk-article-banner__info:has(.tk-article-cover-img-author) .tk-article-analyze {
    margin-bottom: 10px;
}

/* 主页博主信息卡片，增加高度 */

.tk-my__avatar {
    margin-top: 200px;
}

/* 禁用博主个人卡片背景上的遮罩 */

.tk-my__avatar__circle--bg.is-mask:after {
    background: none;
}

/* 减小原文章 Banner 图的缩放动画比例 */

.tk-article-banner__cover {
    transform: scale(1.05);
}

/* 减小文章页内分享卡片头像的圆角比值 */

.container.share-card-container .share-card__item__img {
    border-radius: 16%;
}

/* 首页内容与页脚分割线 */

.VPContent.is-home {
    border-bottom: rgba(128 128 128 / 25%) solid 1px;
}

/*
在 .tk-article-page 样式上，宽度默认为 100%，然后它有两个媒体查询动作：

@media (min-width: 1280px) {
  width: getCssVar(page-width); // 执行时该值为 900
}
- 小于 1280 时，宽度为默认 100%
- 大于等于 1280 时生效，宽度 900

@media (max-width: 1280px) {
  padding: 0 10px;
}
- 大于 1280 时不生效，padding 为默认 0
- 小于等于 1280 时生效，padding 0 10px

组合起来后：
- 小于 1280 时，宽度 100%，padding 0 10px
- 等于 1280 时，宽度 900，padding 0 10px
- 大于 1280 时，宽度 900，padding 0
可以看到，在屏幕宽度等于 1280 时，多了一个中间状态的出现。该问题至少影响归档页和文章清单页，而在归档页中，该问题影响到了贡献热力图的渲染。

修复思路可以是，尝试覆写 padding 的生效逻辑，改为：
- 小于 1280 时，padding 0 10px
- 大于等于 1280 时，padding 0
从而与 width 逻辑统一。
*/

@media (min-width: 1280px) {
    .tk-article-page {
        padding: 0 10px;
    }
}

.tk-article-page {
    padding: 0;
}

/* 文档风格侧边栏中，重写目录名的样式（默认样式与文章样式一样，非常的看不出来目录结构） */

/* 一级目录间增加分隔 */
.VPSidebarItem.level-1:not(.is-link):not(:first-child) h3.text {
    margin-top: 10px;
    margin-left: -10px;
    padding-top: 14px;
    padding-left: 10px;
    border-top: 1px solid var(--vp-c-divider);
}

/* 一级、二级目录文字样式 */

.VPSidebarItem.level-1:not(.is-link) h3.text,
.VPSidebarItem.level-1:not(.is-link) h4.text {
    color: var(--vp-c-text-1);
    font-weight: bold;
}